*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0D0D0D;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 20px #000;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;}
    .menu li a {
        
        color: #fff;
        display: block;
        text-decoration: none;
        border-radius: 10px;
        padding: 20px 10px 20px 10px;
        margin-left:10px;
    }
    .menu li :hover{
        color: #D90416;
        border: #D90416 ;
    }
h1{
    color: #D90416;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}
.container{
   
    max-width: 1200px;
    height: ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    

}
.container div {
    flex: 3 3 200px;
    margin: 5px;
}

img{
    width: 100%;
    border-radius: 5px;
}